h1{
    background-color: rgb(32, 10, 52);
    color: yellowgreen;
    text-align: center;
    font-size: xx-large;
}
h2{
    background-color: rgb(32, 10, 52);
    color: paleturquoise;
    text-align: center;
    font-size: x-large;
}